In [1]:
import pickle
import networkx as nx
import numpy as np
import matplotlib.pyplot as plt
import random
import sys
import os
import time
from math import floor
import pandas as pd
import seaborn as sn
import datetime
from IPython.display import clear_output

In [33]:
def put_inv_on_right(set_of_links):
    S = set()
    r = 0
    n=0
    for v,i in set_of_links:
        if v[:4]=='inv_':
            S.add((i,v))
            r+=1
        else :
            S.add((v,i))
            n+=1
    print("Reversed / Not reversed : ", r," -", n)
    return S

def plothist(X, name, figsize=(5,5)) : 
    plt.figure(figsize=figsize)
    plt.title("{}".format(name))
    plt.ylabel('count')
    plt.xlabel('{}'.format(name))
    plt.hist(X, bins=30)
    plt.show()


def pc(x,X, dec=1):
    return str(round(100*(x/X),dec))+"%"

In [3]:
def plothist(X, name, figsize=(5,5)) : 
    plt.figure(figsize=figsize)
    plt.title("{}".format(name))
    plt.ylabel('count')
    plt.xlabel('{}'.format(name))
    plt.hist(X, bins=30)
    plt.show()

def plot2hists(X,Y, name, figsize=(5,5)):
    N = np.unique(X).shape[0]
    bins = np.linspace(min(X), max(X), N)
    plt.figure(figsize=figsize)
    plt.title("{}".format(name))
    plt.ylabel('count')
    plt.xlabel('{}'.format(name))
    plt.hist(X, bins)
    plt.hist(Y, bins)
    plt.show()

In [4]:
"""with open('base_data/G_california.p', 'rb') as f:
    G = pickle.load(f)"""
with open('base_data/G_98-18_2.p', 'rb') as f:
    G = pickle.load(f)

In [5]:
with open('base_data/descriptions_2014_and_later.p', 'rb') as f:
    DESCS = pickle.load(f)
print(DESCS.columns)
DESCS.columns = ["LOC","F_DATE","TOTFUND","N_ROUNDS","LR_DATE", "LR_VALUE", "FR_DATE", "HAS_S", "HAS_A", "HAS_B", "HAS_C", "HAS_D", "NB_INV", "CENT", "MAXINV_CENT", "SUM_INV_CENT", "MAXPORT", "NBART", "NEWSINC", "NBFOUNDERS","NBPREV"]

Index(['Location #startups', 'Founded Date', 'Total Funding',
       'Number of Rounds', 'Last Round Date', 'Last Round Funding',
       'First Round Date', 'Has Seed', 'Has A', 'Has B', 'Has C', 'Has D',
       'Nb investors', 'Centrality', 'Max Investor Centrality',
       'Sum Investor Centrality', 'Max Portfolio', 'Nb articles total',
       'News Increase', 'Nb Founders', 'Nb Previous Startups'],
      dtype='object')

In [6]:
investors = [v for v in G.nodes() if v[:4]=='inv_']
ventures = [v for v in G.nodes() if v[:4] != 'inv_']
edges = put_inv_on_right([e for e in G.edges()])

DescVentures = set(DESCS.index)
Ndv = len(DescVentures)
Nedges = len(edges)
Ninv = len(investors)
Nv = len(ventures)
print("Ninv", Ninv)
print("Nv",Nv)
print("Nedges",Nedges)
print("Ndv",Ndv)

vents = set(ventures)
DESCS['ING']= DESCS.index.map(lambda x : x in vents)
print(100*DESCS['ING'].mean(), " % ventures of desc are in G")

Reversed / Not reversed :  0  - 286711
Ninv 50294
Nv 107112
Nedges 286711
Ndv 41814
100.0  % ventures of desc are in G

In [7]:
Edf = pd.DataFrame(list(edges), columns=["V", "INV"])


Edf['UN_INV'] = Edf['INV'].apply(lambda x : x=="inv_")

Edf['DATE'] = Edf[['V','INV']].apply(lambda x : G[x[0]][x[1]]['date'], axis = 1)
Edf['AMNT'] = Edf[['V','INV']].apply(lambda x : int(G[x[0]][x[1]]['amount']), axis = 1)

Edf['YEAR'] = Edf['DATE'].apply(lambda x: int(str(x)[:4]))
Edf['HAS_DESC'] = Edf['V'].apply(lambda x  : x in DescVentures)
Edf['ENCX'] = Edf[['V','INV']].applymap(lambda x : x.encode('utf8').decode('latin1') == x).apply(lambda x: x[0] and x[1],axis=1)
Edf.sample(5)

,V,INV,UN_INV,DATE,AMNT,YEAR,HAS_DESC,ENCX
233927,rival-theory,inv_bullet-time-ventures,False,2015-09-14,0,2015,True,True
155917,g5-search-marketing,inv_peakequity,False,2015-08-12,76000000,2015,False,True
88829,gigas,inv_bonsai-capital,False,2011-07-01,2500000,2011,False,True
277264,blablacar,inv_colle-capital-partners,False,2014-07-01,100000000,2014,True,True
88434,telica,inv_highland-capital-partners,False,2002-01-14,60000000,2002,False,True

In [8]:
Edf.sample(10).drop(['ENCX'], axis=1)

,V,INV,UN_INV,DATE,AMNT,YEAR,HAS_DESC
129533,tempo,inv_tahoma-ventures,False,2013-10-09,3200000,2013,False
134361,wealth,inv_vulpes-innovative-technologies,False,2017-02-07,704929,2017,True
120577,allin-corporation,inv_,True,2017-03-30,1500000,2017,True
71212,akheros,inv_agoranov,False,2012-09-01,0,2012,False
53761,ampt-animal-inc,inv_,True,2015-11-04,0,2015,True
95053,scottish-bioenergy,inv_kelvin-capital,False,2017-03-16,623051,2017,True
56357,teradiode,inv_camros-capital,False,2009-01-01,4000000,2009,False
164644,thrive-bioscience,inv_sidecar-angels,False,2015-08-18,4000000,2015,True
17341,the-muse,inv_thomas-lehrman,False,2013-01-22,1200000,2013,True
199132,utan,inv_,True,2012-05-01,0,2012,False

In [9]:
import MySQLdb
from sqlalchemy import create_engine
engine = create_engine('mysql://insidrAdmin:15lierlor@localhost/linkDB',encoding="utf8", convert_unicode=True, echo=False)
db = MySQLdb.connect(host="localhost", user = "insidrAdmin", passwd = "15lierlor", db = "linkDB", use_unicode=True, charset="utf8") 
db.set_character_set('utf8')
dbc = db.cursor()
dbc.execute('SET NAMES utf8;')
dbc.execute('SET CHARACTER SET utf8;')
dbc.execute('SET character_set_connection=utf8;')
#Edf[Edf['ENCX'] == True].drop(['ENCX'], axis=1).to_sql("all_edges",engine, if_exists="replace" )

0

In [10]:
print(Nedges - Edf['ENCX'].sum())
print(pc(Nedges - Edf['ENCX'].sum(), Nedges))

1174
0.4%

In [11]:
ventures = sorted(list(set(Edf[Edf['ENCX'] == True]['V'])))
investors = sorted(list(set(Edf[Edf['ENCX'] == True]['INV'])))
ventures_to_id = {}
investors_to_id = {}
for i in range(len(ventures)):
    ventures_to_id[ventures[i]] = i
    
for j in range(len(investors)):
    investors_to_id[investors[j]] = j

In [32]:
ventsDF = pd.DataFrame(ventures, columns=['vname'])
ventsDF['vid'] = ventsDF['vname'].apply(lambda x : ventures_to_id[x])
#ventsDF.to_sql("allventures",engine, if_exists="replace" )

invsDF = pd.DataFrame(investors, columns=['iname'])
invsDF['iid'] = invsDF['iname'].apply(lambda x : investors_to_id[x])
#invsDF.to_sql("investors",engine, if_exists="replace" )

EdfClean = Edf[Edf['ENCX'] == True].drop(['ENCX'], axis=1)
EdfClean['VID'] = EdfClean['V'].apply(lambda x : ventures_to_id[x])
EdfClean['IID'] = EdfClean['INV'].apply(lambda x : investors_to_id[x])
EdfClean['GIID']= EdfClean['IID'].apply(lambda x: x + 2**18)

EdfClean = EdfClean.drop(['V','INV'], axis=1)[['VID','IID', 'DATE', 'AMNT', 'YEAR', 'HAS_DESC', 'UN_INV']]
#EdfClean.to_sql("edges_clean",engine, if_exists="replace" )

DESCS['VID'] = DESCS.index.map(lambda x : ventures_to_id[x] if x in ventures_to_id.keys() else -1)
DESCS2 = DESCS[DESCS['VID'] != -1]
for key in ['TOTFUND', 'LR_VALUE']:
    DESCS2[key] = DESCS2[key].apply(int)
DESCS2 = DESCS2.set_index(DESCS2['VID']).drop(['VID','ING'], axis=1)
#DESCS2.to_sql("descriptions_clean",engine, if_exists="replace" )

print(ventsDF.shape, invsDF.shape)
print(ventsDF.sample(5), '\n\n', invsDF.sample(5))
print(EdfClean.sample(5))
DESCS2

156690 285537
143622 277505
(106734, 2) (49956, 2)
                    vname    vid
47277               issue  47277
17083             champio  17083
36468      gemometrics-ab  36468
97379  unchainedhouse-com  97379
16228      catalist-homes  16228

                              iname    iid
8409        inv_ceres-venture-fund   8409
6292              inv_bmc-software   6292
34726  inv_penske-automotive-group  34726
8687             inv_checkalt-8a9e   8687
17255  inv_genuity-capital-markets  17255
          VID    IID        DATE      AMNT  YEAR  HAS_DESC  UN_INV
129487  52471  39496  2016-03-21   1000000  2016      True   False
93564   18532  32730  2017-04-04         0  2017     False   False
100543  96061  32697  2010-11-05   1600000  2010     False   False
126476  55845  37105  2017-11-04         0  2017     False   False
72664   46949  41748  1999-10-13  20000000  1999     False   False

/home/malaville/.local/lib/python3.6/site-packages/ipykernel_launcher.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,LOC,F_DATE,TOTFUND,N_ROUNDS,LR_DATE,LR_VALUE,FR_DATE,HAS_S,HAS_A,HAS_B,...,HAS_D,NB_INV,CENT,MAXINV_CENT,SUM_INV_CENT,MAXPORT,NBART,NEWSINC,NBFOUNDERS,NBPREV
VID,,,,,,,,,,,,,,,,,,,,,
34346,201,2921,450000,1,1172,450000,1172,1,0,0,...,0,2,0,0,0,161,0,0.000000,0,0
46184,3,1095,149207,1,1092,149207,1092,1,0,0,...,0,0,0,0,0,0,0,0.000000,0,0
65381,7436,6939,168800000,10,6305,50000000,2168,0,1,1,...,1,16,0,0,0,292,0,0.000000,1,2
35736,1188,4382,330400000,7,1124,56700000,699,0,1,1,...,1,9,0,0,0,154,161,-0.243243,3,1
1001,7436,364,50000,1,364,50000,364,0,1,0,...,0,0,0,0,0,0,0,0.000000,0,0
66688,223,5113,192199999,4,461,70000000,1165,0,0,0,...,0,6,0,0,0,19,89,-0.625000,0,0
69670,665,1156,5000000,1,791,5000000,791,0,0,0,...,0,1,0,0,0,74,0,0.000000,0,0
8723,312,6208,62871127,10,2049,5000000,2722,0,1,1,...,1,8,0,0,0,19,2,-1.000000,2,1
100113,1188,2131,29000000,5,1249,2800000,101,1,1,1,...,0,19,0,0,0,891,21,-0.200000,0,3
1245,2608,1825,10000000,1,390,10000000,390,0,0,0,...,0,3,0,0,0,85,0,0.000000,0,0
23782,36,2436,1034209,2,338,267437,76,1,0,0,...,0,1,0,0,0,6,7,0.714286,1,0
69330,62,1582,7025960,4,1109,500000,860,1,1,0,...,0,7,0,0,0,18,2,-1.000000,0,1
72059,7436,1095,200000,1,429,200000,429,1,0,0,...,0,0,0,0,0,0,0,0.000000,1,0
48647,7436,364,240000,2,183,120000,132,1,0,0,...,0,4,0,0,0,847,1,1.000000,1,0
35531,2608,883,1391975,1,61,1391975,61,1,0,0,...,0,1,0,0,0,1,1,-1.000000,2,1
68072,600,1825,3075000,2,587,1750000,1066,1,1,0,...,0,12,0,0,0,151,3,1.000000,3,0
73336,531,3540,19500000,3,312,5000000,67,0,0,0,...,0,2,0,0,0,9,3,-1.000000,1,0
37377,7436,2191,120000,1,1014,120000,1014,1,0,0,...,0,1,0,0,0,847,3,-1.000000,3,0
79573,3,1460,1068557,5,248,137557,1081,1,0,0,...,0,4,0,0,0,444,6,0.000000,2,0
72141,1411,545,557475,1,545,557475,545,1,0,0,...,0,0,0,0,0,0,0,0.000000,0,0
45048,31,2191,13500000,1,61,13500000,61,0,0,1,...,0,1,0,0,0,12,0,0.000000,1,0
32257,90,1450,761688,6,1095,60230,883,1,0,0,...,0,8,0,0,0,75,10,-1.000000,2,0
975,7436,1174,800000,3,1034,330000,3,1,0,0,...,0,1,0,0,0,41,3,-1.000000,0,0
90635,434,1156,105054,1,824,105054,824,1,0,0,...,0,0,0,0,0,0,4,1.000000,1,0
70574,122,1346,11750599,3,670,510050,179,1,1,1,...,0,1,0,0,0,17,1,0.000000,0,0
16007,582,1005,450000,1,885,450000,885,1,0,0,...,0,3,0,0,0,107,2,0.000000,4,0
26846,370,364,79564,1,152,79564,152,1,0,0,...,0,1,0,0,0,28,0,0.000000,1,0
97676,2608,1460,3200000,1,284,3200000,284,0,0,0,...,0,6,0,0,0,143,1,1.000000,1,1
59291,7436,2191,152188,3,1196,17188,937,0,0,0,...,0,0,0,0,0,0,2,1.000000,0,0
89324,582,1095,23000,1,873,23000,873,1,0,0,...,0,0,0,0,0,0,0,0.000000,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53310,7436,1825,10000,1,1117,10000,1117,0,0,0,...,0,0,0,0,0,0,0,0.000000,0,0
10252,7436,2355,1600000,2,1528,400000,580,1,0,0,...,0,4,0,0,0,10,0,0.000000,0,0
71482,2608,1460,40000,1,727,40000,727,1,0,0,...,0,1,0,0,0,86,1,0.000000,2,0
20202,1411,4747,450000,1,730,450000,730,1,0,0,...,0,0,0,0,0,0,0,0.000000,0,0
82230,665,1095,71700000,2,200,57100000,822,1,1,0,...,0,6,0,0,0,11,2,1.000000,2,0
90473,201,1095,5030471,2,990,30471,455,1,1,0,...,0,1,0,0,0,30,1,0.000000,3,0
80006,181,1064,450000,1,274,450000,274,1,0,0,...,0,0,0,0,0,0,0,0.000000,0,0
98976,284,4382,5000000,1,20,5000000,20,0,0,0,...,0,1,0,0,0,225,0,0.000000,0,0
70552,2608,1340,135000,1,1036,135000,1036,1,0,0,...,0,0,0,0,0,0,0,0.000000,1,1
4538,7436,1780,1750000,2,1178,1300000,878,1,0,0,...,0,7,0,0,0,891,3,-1.000000,1,1
47219,651,730,2300000,2,730,450000,123,1,0,0,...,0,6,0,0,0,115,5,1.000000,1,1
9498,995,2191,3200000,1,33,3200000,33,0,1,0,...,0,3,0,0,0,3,1,1.000000,1,0
17897,25,2344,1500000,1,1120,1500000,1120,1,0,0,...,0,1,0,0,0,1,10,0.000000,2,1
15316,7436,1297,15000000,2,183,5000000,810,0,0,0,...,0,6,0,0,0,292,0,0.000000,3,0
69625,14,2556,3449531,1,197,3449531,197,0,1,0,...,0,2,0,0,0,3,0,0.000000,0,0
40146,115,822,1450000,2,822,1000000,395,1,0,0,...,0,1,0,0,0,10,0,0.000000,1,0
24139,7436,1825,4000000,2,797,2000000,1013,0,0,1,...,0,5,0,0,0,44,1,0.000000,3,1
19551,7436,2097,2200000,2,781,1600000,1766,1,0,0,...,0,1,0,0,0,23,4,-1.000000,3,0
72004,665,5843,1681013,1,1073,1681013,1073,0,1,0,...,0,1,0,0,0,38,0,0.000000,2,0
44428,330,4382,502408,1,745,502408,745,1,0,0,...,0,0,0,0,0,0,0,0.000000,0,0
32537,330,2093,478000,1,859,478000,859,1,0,0,...,0,0,0,0,0,0,0,0.000000,0,0
73740,518,1825,3000000,1,942,3000000,942,0,1,0,...,0,2,0,0,0,3,5,0.000000,2,0
13152,37,1460,219817,1,883,219817,883,1,0,0,...,0,1,0,0,0,1,0,0.000000,0,0
50184,198,1460,96950000,5,67,60000000,1126,1,1,1,...,0,8,0,0,0,330,11,0.250000,2,0
46305,531,852,450000,1,551,450000,551,1,0,0,...,0,1,0,0,0,95,0,0.000000,0,0
68546,42,2071,530958,3,456,72868,191,1,0,0,...,0,4,0,0,0,5,5,0.600000,1,0
76140,1411,364,10000,1,143,10000,143,1,0,0,...,0,2,0,0,0,1,0,0.000000,0,0
41109,200,730,6825000,5,12,1700000,152,1,0,0,...,0,7,0,0,0,89,0,0.000000,0,0
52849,634,1187,25000,1,767,25000,767,1,0,0,...,0,0,0,0,0,0,0,0.000000,2,0
47715,225,1429,600000,1,1279,600000,1279,1,0,0,...,0,1,0,0,0,2,0,0.000000,0,0

In [27]:
Gu = EdfClean[['VID','GIID']]

In [20]:
DESCS2['N_ROUNDS'].max()

27

In [15]:
(DESCS['VID'] == -1).sum()

120

In [ ]:
resLasterWithDesc2014 = engine.execute("SELECT V FROM mydb GROUP BY V HAVING max(YEAR)>=2014 and HAS_DESC = 0 and UN_INV = 0").fetchall()
print(len(resLasterWithDesc))

In [ ]:
from random import random
go = np.reshape(np.array(resLasterWithDesc), 15707)[[round(random()*15700) for _ in range(200) ]]
go